.montserrat-fontButton {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font {
    font-family: "Montserrat";
}

.textTransform {
    font-family: "Montserrat";
    font-size: 1rem;
}

.imga {
    width: 50%;

}

.bg-impup {
    /* From https://css.glass */
    background: rgba(255, 0, 238, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 0, 238, 0.3);
}

.bg-btn {
    /* From https://css.glass */
    background: rgba(0, 6, 118, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 6, 118, 0.3);
}